<?xml version="1.0"?>
<settings>
  <localRepository>/tmp/maven-local-repo</localRepository>
  <servers>
    <server>
      <id>YOUR_GPG_KEYNAME</id>
      <passphrase>YOUR_MVN_ENCRYPTED_GPG_KEY_PASSPHRASE</passphrase>
    </server>
    <server>
      <id>registry.hub.docker.com</id>
      <username>YOUR_DOCKER_USERID</username>
      <password>YOUR_MVN_ENCRYPTED_DOCKER_PASSWORD</password>
      <configuration>
        <email>YOUR_DOCKER_USER_EMAIL</email>
      </configuration>
    </server>
    <server>
      <id>docker.io</id>
      <username>YOUR_DOCKER_USERID</username>
      <password>YOUR_MVN_ENCRYPTED_DOCKER_PASSWORD</password>
      <configuration>
        <email>YOUR_DOCKER_USER_EMAIL</email>
      </configuration>
    </server>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>YOUR_OSS_SONATYPE_ORG_USERID</username>
      <password>YOUR_MVN_ENCRYPTED_OSS_SONATYPE_ORG_PASSWORD</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonatype-release-repo</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2/</url>
        </repository>
        <repository>
          <id>sonatype-releases</id>
          <url>https://oss.sonatype.org/content/repositories/releases/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2/</url>
        </pluginRepository>
        <pluginRepository>
          <id>sonatype-releases</id>
          <url>https://oss.sonatype.org/content/repositories/releases/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>docker-settings</id>

      <properties>
        <docker.user>YOUR_DOCKER_USERID</docker.user>
        <docker.email>YOUR_DOCKER_USER_EMAIL</docker.email>

        <docker.userName>${docker.user}</docker.userName>
        <dockerUser>${docker.user}</dockerUser>
      </properties>
    </profile>
    <profile>
      <id>gpg-settings</id>
      <properties>
        <gpg.keyname>YOUR_GPG_KEY_NAME</gpg.keyname>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>sonatype-release-repo</activeProfile>
    <activeProfile>docker-settings</activeProfile>
    <activeProfile>gpg-settings</activeProfile>
  </activeProfiles>
</settings>
